@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;700&family=Roboto+Slab:wght@200;400;700&family=Space+Mono:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --red: #f87070;
  --blue: #70f3f8;
  --purple: #d881f8;
  --lightgray: #d7e0ff;
  --darkblue: #1e213f;
  --white: #ffffff;
  --offwhite: #eff1fa;
  --dark: #161932;
  --kumbhFont: "Kumbh Sans", sans-serif;
  --robotoFont: "Roboto Slab", serif;
  --spaceMono: "Space Mono", monospace;
}

h1 {
  font-size: 10rem;
  line-height: 12rem;
  letter-spacing: -0.5rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 3.4rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  /* letter-spacing: -0.005rem; */
}

h5 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 100px;
  padding: 2rem 4rem;
  font-size: 1.9rem;
  transition: 0.5s ease;
}

.btn:hover {
  /* opacity: 85%; */
  text-shadow: 2px 3px 15px var(--primary);
}

.bg-red {
  background: var(--red);
}

.bg-dark {
  background: var(--dark);
}

.white {
  color: var(--white);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app[data-color="red"] {
  --primary: var(--red);
}

.app[data-color="blue"] {
  --primary: var(--blue);
}

.app[data-color="purple"] {
  --primary: var(--purple);
}

.app[data-text="kumbh"] {
  --primaryText: var(--kumbhFont);
}

.app[data-text="robot"] {
  --primaryText: var(--robotoFont);
}

.app[data-text="space"] {
  --primaryText: var(--spaceMono);
}

.app {
  max-width: 144rem;
  min-height: 100vh;
  /* border: 10px solid green; */
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0;
  background: var(--darkblue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  font-family: var(--primaryText);
}
